html， body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  height: 100%;
}

#headLine{
  position: absolute;
  top:10px;
  left:10px;
  width:1500px;
  height:35px;
}
#lSide {
  position: absolute;
  height: 700px;
  width: 270PX;
  left: 10px;
  top: 45px;
  bottom: 5px;
}

#loadData {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 270PX;
  flex: 1;
}
#dataOverview {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 270PX;
  flex: 2;
}

#controlPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 270PX;
  height: 240px;
}
#parameterSet {
  position: absolute;
  top: 115px;
  left: 0px;
  height: 125px;
  width: 270PX;
}
#pixelView {
  position: absolute;
  top: 239px;
  left: 0px;
  height: 180px;
  width: 270PX;
}
#histogramView {
  position: absolute;
  top: 420px;
  left: 0px;
  height: 180px;
  width: 270PX;
}
#matrixView1 {
  position: absolute;
  top: 600px;
  left: 0px;
  height: 180px;
  width: 270PX;
}

#middle {
  position: absolute;
  height: 700px;
  width: 855px;
  left: 280px;
  top: 45px;
}
#map {
  position: absolute;
  top: 0px;
  height: 420px;
  width: 870px;
}
#underMap {
  position: absolute;
  top: 420px;
  height: 360px;
  width: 870px;
}
#flowVolumnView {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 5px;
  height: 360px;
  width: 360px;
  background-color: #fff;
}
#matrixView {
  position: absolute;
  top: 0;
  left: 360px;
  padding: 5px;
  height: 360px;
  width: 510px;
  background-color: #fff;
}
#evaluate {
  position: absolute;
  top: 472px;
  height: 360px;
  width: 920;
}
#rSide {
  position: absolute;
  left: 1150px;
  top: 45px;
  height: 700px;
  width: 360px;
}
#scatterPlot {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  height: 420px;
  width: 360px;
}

#scatterPlotWidgets {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: none;
  border-radius: 4px;
  margin: 0px 0px 0px 4px;
  padding: 5px;
  height: 40px;
  width: 110px;
}

#underProjectionView {
  position: absolute;
  top: 420px;
  left: 0px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  height: 360px;
  width: 360px;
}
.viewTitle {
  display: block;
  margin-top: -8px;
  text-align: center;
}

.slider {
  margin-top: 20px;
  margin-left: 30px;
}

#status {
  cursor: pointer;
  text-anchor: middle;
}
.tabTitle {
  height: 20px;
  line-height: 15px;
  font-size: 13px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 4px;
  padding-right: 5px;
}
.tabWindow {
  position: absolute;
  top: 20px;
  height: 160px;
  width: 240px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
#status g.first text.time {
  font-size: 14px;
}

#status g.first text.value {
  font-size: 20px;
  font-weight: bold;
}

#status g.first text.units {
  font-size: 12px;
}

#status g.second text.time,
#status g.third text.time {
  font-size: 12px;
}

#status g.second text.value,
#status g.third text.value {
  font-size: 20px;
  fill: #555;
}

#status g.second text.units,
#status g.third text.units {
  font-size: 10px;
}

.controlButton {
  margin-top: 0px;
  margin-left: 18px;
}

.sliderStyle {
  position: absolute;
  top: -23px;
  left: -37px;
}
.axis path,
.axis line {
  fill: none;
  stroke: rgb(146, 120, 120);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.bar {
  fill: rgb(32, 115, 178);
}

.bar:hover {
  fill: orangered;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(238, 238, 238, 0.8);
  color: rgb(7, 6, 6);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
