

<div class='panel panel-default' style="width:100%;height:100%;">

<svg id='svg' style="width:100%;height:100%;"> </svg>
<div class='panel panel-default' id='map' style='margin-left:100px;margin-top:50px;width:500px;height:500px;border-radius:50%;'></div>
</div>
<script src='./js/options.js'></script>
<script src='./js/drawArc.js'></script>
   
