<div style="width:80%;height:80%">
    <svg style="height:100%;width:100%;">

    </svg>
</div>
<script>
    var svg = d3.select("svg");
    //添加defs标签  
    var defs = svg.append("defs");
    //添加marker标签及其属性  
    var arrowMarker = defs.append("marker")
        .attr("id", "arrow")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", 12)
        .attr("markerHeight", 12)
        .attr("viewBox", "0 0 12 12")
        .attr("refX", 6)
        .attr("refY", 6)
        .attr("orient", "auto")

    //绘制直线箭头  
    var arrow_path = "M2,2 L10,6 L2,10 L6,6 L2,2";
    arrowMarker.append("path")
        .attr("d", arrow_path)
        .attr("fill", "#000")
    //绘制直线  
    var line = svg
        .append("path")
        .attr("d","M50,50 L200,400 L50,50 L200,400 L50,50")
        .attr("stroke", "red")
        .attr("stroke-width", 2)
        .attr("marker-start", "url(#arrow)")
        .attr("marker-end", "url(#arrow)")

    //绘制曲线箭头  
    var curve_path = "M20,70 T120,70";
    var curve = svg.append("path")
        .attr("d", curve_path)
        .attr("fill", "white")
        .attr("stroke", "red")
        .attr("stroke-width", 2)
        .attr("marker-start", "url(#arrow)")
        .attr("marker-mid", "url(#arrow)")
        .attr("marker-end", "url(#arrow)");  
</script>