<div class='panel panel-default' style="width:95%;height:95%;margin:10px;">
    <svg id='original' class='panel panel-default' style="width:47%;height:47%;"></svg>
    <svg id='random' class='panel panel-default' style="width:47%;height:47%;"></svg>
    <svg id='ourSample' class='panel panel-default' style="width:47%;height:47%;"></svg>
    <svg id='filter' class='panel panel-default' style="width:47%;height:47%;"></svg>
</div>
<script>

    function draw(fileName) {
        d3.json(fileName, function (data) {

            d3.json("./data/BS/track/original.json", function (d1) {
                d3.json("./data/BS/track/ourSample.json", function (d2) {
                    d3.json("./data/BS/track/random.json", function (d4) {
                        var maxValue = d3.max([process(d1), process(d2), process(d4)]);
                    })
                })
            })
            console.log('d: ', data);
            let svgName = fileName.split('/')[fileName.split('/').length - 1].split('.')[0];
            console.log('svgName: ', svgName);
            var oSvg = d3.select("#" + svgName);
            oSvg.append("text")
                .attr("x", 200)
                .attr("y", 50)
                .text(svgName);
            var width = 683;
            var height = 330;
            var drawData = {}
            function process(data) {
                for (var key in data) {
                    if (drawData[data[key]] === undefined) {
                        drawData[data[key]] = 1
                    } else {
                        drawData[data[key]] += 1
                    }
                }
                for (var key in drawData) {
                    drawData[key] = Math.log2(drawData[key]);
                }
                var maxValue = 0;

                for (var key in drawData) {
                    if (drawData[key] > maxValue) {
                        maxValue = drawData[key];
                    }
                }
                return maxValue;
            }
            var maxValue = process(data);

            var heightScale = d3.scaleLinear()
                .domain([0, maxValue])
                .range([0, 330])
            var rectWidth = width / Object.keys(drawData).length;
            var count = 0;
            for (var key in drawData) {
                let value = drawData[key];
                console.log('key: ', key);
                oSvg.append("rect")
                    .attr("x", rectWidth * count)
                    .attr("y", 330 - heightScale(drawData[key]))
                    .attr("height", heightScale(drawData[key]))
                    .attr("width", rectWidth)
                    .style("fill", "blue")
                    .on("mouseover", () => console.log(value))
                count += 1;
            }
        })
    }
    draw("./data/BS/track/original.json");
    draw("./data/BS/track/ourSample.json");
    draw("./data/BS/track/random.json");


</script>